.container {
  width: 90vw;
  height: 100vh;
  margin-left: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content2 {
  background-color: rgba(0, 0, 0, 0.5);
  width: 40%;
  margin: 1rem;
  border-radius: 16px;
  padding: 3rem;
  color: #fff;
}

.content2 h1{
  font-size:4rem;
}

.mailtext{
  text-decoration: none;
  color: #007bff;
}

.content1 {
  width: 45%;
  color: #fff;
  border-radius: 16px;
  padding:2rem 3rem;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formgroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.625rem;
}

.formgroup label {
  
  align-items: center;
  margin-bottom: 0.3125rem;
}

.formgroup input,
.formgroup textarea {
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  padding: 0.625rem 9rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

.formgroup .btn{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #007bff;
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 0.625rem 1.25rem;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

.contactInfo {
  margin-top: 2rem;
}

.contactInfo p {
  margin-bottom: 0.5rem;
}

.floatingAlert{
  color:#fff;
}