*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body{
  background: rgb(2,2,126);
  background: linear-gradient(270deg, rgba(2,2,126,1) 0%, rgba(32,32,121,1) 72%, rgba(125,125,231,1) 100%);}


body::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}


@media screen {
  
}

